@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Elías Monzón<br />
    Talcahuano, Bio Bio, Chile<br />
    <abbr title="Phone">Phone:</abbr>
    +569-63737079
</address>

